body{
    background-image: url(images/everton-vila-AsahNlC0VhQ-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: rgb(94, 10, 45);
}
.reviews{
    align-items: center;
}
.book-card{
    background-color: pink;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    color: rgb(199, 11, 89); 
    margin: 100px;
    padding: 15px; 
    text-align: justify;
}
.book-details{
    margin-left: 20px;
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal;
}
.contact{
    border: 1px solid black;
    border-radius: 8px;
    background-color: pink;
    align-items: center;
    justify-content: center;
    width: 30%;
    color: rgb(199, 11, 89);
    margin: auto;
}